{% extends "base.html" %}

{% set title = 'About Us' %}

{% block content %}
<div style="min-height: 284px;">
<img class="left-float" src="img/us.jpg">
<p>Jen is a Professor of Mathematis at Bellevue College. She teaches a wide
variety of courses from introductory algebra to differential equations and
linear algebra. When she's not at work, Jen spends her time grading, reading,
cooking, and hiking.</p>

<p>Brett is a Senior Software Engineer at Google. He works on Offline Maps,
which enable search and turn-by-turn directions in Google Maps for Android and
iOS even when there's no internet access. Brett spends his free time playing
video games, cycling, reading, and hiking.</p>

<p>Brett and Jen met at college in Claremont, CA, but they didn't start dating
until they both moved to Seattle in 2013. Two years later, they got engaged
during a 200 mile cycling tour of the Oregon coast and its brewpubs.</p>
</div>
{% endblock %}
