{% extends "base.html" %}

{% set title = 'Accomodations' %}

{% block content %}
<p>There are a few hotels close to the venue (either in North Bend or Issaquah),
or you may find it convenient to stay near SeaTac Airport, which is approximately 
45 minutes from the venue.</p>

<p>Alternatively, we encourage larger groups of friends or family to rent a
house in the area for the weekend. <a href="https://www.airbnb.com/s/North-Bend--WA--United-States?checkin=08%2F19%2F2016&amp;checkout=08%2F21%2F2016&amp;guests=6">Airbnb</a> is
a fairly easy way to find short-term rentals.</p>

<p>You will need a car to get to and from the wedding venue. If you're coming
from out of town and would like to carpool, please contact us and we will try
to connect you with other drivers. If you will have extra seats available in
your vehicle, please let us know as well.</p>
{% endblock %}
