{% extends "base.html" %}

{% set title = 'Accomodations' %}

{% block content %}
<p>There are a few hotels close to the venue (either in North Bend or Issaquah),
or you may find it convenient to stay near SeaTac Airport, which is approximately 
45 minutes from the venue.<\p>

<p> An alternative we'd like to encourage is to rent a house in the area for the
weekend so that you can stay in larger groups with friends or family. AirB&B is 
a fairly easy way to find such short-term rentals.</p>
{% endblock %}
