{% extends "base.html" %}

{% set title = 'RSVP' %}

{% block content %}
<p>We will ask for formal RSVPs later, but if you already know that you will
not be attending, it would help our planning to know.</p>

<iframe src="https://docs.google.com/forms/d/1J9gfIgSecTfHHWu1TUKJ1CJrZxn2mDxeBZYJmM9nyEw/viewform?embedded=true" onload="javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+'px';}(this));" class="center" style="border: none; height: 420px; width: 90%;">Loading...</iframe>
{% endblock %}
