{% extends "base.html" %}

{% set title = 'The Wedding' %}

{% block content %}
<h1>Friday, August 19th, 2016</h1>
<div class="hr"></div>
If you are in Seattle on Friday evening, Brett and Jen will be serving cocktails at their home in Seattle's Central District.

<h1>Saturday, August 20th, 2016</h1>
<div class="hr"></div>
Join us in the late  afternoon at Meadowbrook Farm in North Bend as we begin our marriage. The ceremony will be outdoors, and the indoor/outdoor reception will follow immediately afterwards at the same location. There is plenty of parking at the venue, but
if you're coming from out of town and would like us to help you find a carpool
to or from the wedding, please let us know.

<h1>Sunday, August 21st, 2016</h1>
<div class="hr"></div>
We know weddings, though joyous affairs, don't always leave much time for socializing with the bride and groom. We plan to be available Sunday morning for a brunch to spend more time with the friends and family who have journeyed to Seattle. 
<!-- Rename to Wedding Weekend? -->
{% endblock %}
